parameters:
    level: 5
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/

    excludePaths:
            analyse:
                - %currentWorkingDirectory%/tests/bootstrap.php
